version: '3.8'
services:
  python-app:
    build:
      context: ./python-app
    environment:
      - PORT=5000
    ports:
      - 5000:5000
  node-app:
    build:
      context: ./node-app
    environment:
      - PYTHON_APP_HOST=python-app
      - PYTHON_APP_PORT=5000
